/* 
    Created on : 9-Sep-2014, 5:32:12 PM
    Author     : zina
*/
@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Sue+Ellen+Francisco');

body{color:#232122; font-family: 'Noto Sans', helvetica, sans-serif}

a{color:#4ba61b}
a:hover, a:active, a:focus{color:#4b8c1b}

img{ max-width:100% }

ul.list-unstyled a,
ul.list-unstyled a:hover, ul.list-unstyled a:active, ul.list-unstyled a:focus{color:#232122}

#corner-pieces > div{position:fixed; width:0; height:0; pointer-events:none}
#corner-pieces > .top-left{top:0; left:0}
#corner-pieces > .top-left > a{display:inline-block; padding:10px; pointer-events:auto}
#corner-pieces > .top-right{top:0; right:0}
#corner-pieces > .bot-left{bottom:0; left:0}
#corner-pieces > .bot-right{bottom:0; right:0}

.navbar{border-radius:0}

.nav-pills>li>a{border-radius:0}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus{background-color:#4ba61b}

.pagination>li>a, .pagination>li>span{background-color:#000; border-color:#232122; color:#4ba61b}
.pagination>li:last-child>a, 
.pagination>li:last-child>span,
.pagination>li:first-child>a, 
.pagination>li:first-child>span{border-radius:0}
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus{background-color:#e5550f; border-color:#D35010; color:#fff}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus{background-color:#4ba61b; border-color:#4ba61b}

.brand{color:#e5550f; font-family: 'Sue Ellen Francisco', helvetica, sans-serif; font-weight:normal}

.sidebar{padding:15px 0 0 0}

.portfolio-thumbs > div > a{display:block; position:relative; text-decoration:none}

.price-tag{position:absolute; top:-5px; left:-5px; padding:5px 8px; background-color:#e5550f; color:#fff}

.full-width{width:100%}

.has-faux-col{height:100%}
.faux-col{position:absolute; height:100%; background:#ECF5E8; box-shadow:inset -5px -1px 15px 0 rgba(0,0,0,0.1)}

.video-container{position:relative}

.nav-single > a{position:absolute; top:50%; margin-top:-40px; padding:20px; font-size:60px; opacity:0.6; transition:0.3s opacity}
.nav-single > a:hover{opacity:1}
.nav-single > .prev{left:-80px}
.nav-single > .next{right:-80px}

.no-mt{margin-top:0}
.no-mb{margin-bottom:0}

.table{font-size:12px}
.table-portfolio>tbody>tr>td:first-child{padding:0; max-width:80px}
.table-portfolio>tbody>tr>td{vertical-align: middle}

/* Buttons */
.btn{border:0; border-radius:0}
.btn-primary{background-color:#4ba61b}
.btn-primary:hover{background-color:#4b8c1b}
.btn-lg{font-size:20px; font-weight:bold}

/* Text */
.text-success{color:#4ba61b}

.price{color:#e5550f; font-family: 'Sue Ellen Francisco', helvetica, sans-serif;font-size:60px; line-height:60px}